{% extends '::dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block css %}<link href="{{ asset('css/user.css') }}" rel="stylesheet">{% endblock %}
{% block body %}<div class="alert alert-success">Welcome <strong>{{app.user.firstname}}</strong> to Dashboard</div>
	<div class="col-md-6 pull-right">
	 {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
	</div>
{% endblock %}
