{% extends '::dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block css %}<link href="{{ asset('css/user.css') }}" rel="stylesheet">{% endblock %}

{% block body %}<div class="alert alert-success">Welcome User to Dashboard</div>{% endblock %}
