{% extends '::base.html.twig' %}

{% block title %}Sign Up{% endblock %}
{% block css %}<link href="{{ asset('css/user.css') }}" rel="stylesheet"> {% endblock %}

{% block body %}
<div class="col-md-6">
    <div class="alert alert-error">
       Please activate your account. 
    </div>
</div>
{% endblock %}
