{% extends '::base.html.twig' %}

{% block title %}Sign Up{% endblock %}
{% block css %}<link href="{{ asset('css/user.css') }}" rel="stylesheet"> {% endblock %}

{% block body %}<div class="alert alert-success">This is sign up page</div>{% endblock %}
